<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Planets and Moons</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
</head>
<body>
    <div class="flex-container">
        <div>
            <h1>All Planets</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in planets %}
                        <tr>
                            <td><a href="/planets/{{ p.id }}">{{ p.name }}</a></td>
                            <td>{{ p.size }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="/planets/new">Add Planet</a>
        </div>
    </div>
</body>
</html>