<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Planets and Moons</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
</head>
<body>
    <div class="flex-container">
        <div>
            <h1>Add Planet</h1>
            <form action="/planets/add" method="post">
                {% csrf_token %}
                <p>Name:</p>
                <input type="text" name="name">
                <br>
                <p>Size:</p>
                <input type="number" name="size" id="">
                <br>
                <button>Add Planet</button>
            </form>
            {% for error in messages %}
                <p>{{ error }}</p>
            {% endfor %}
            <a href="/planets">Home</a>
        </div>
    </div>
</body>
</html>